*{
    box-sizing: border-box;
}

#search{
    padding-left: 45px;
       
}

#refresh{
    height: 25px;
    position: absolute;
    top: 5px;
    left: 5px;
    border: none;
    border-radius: 50px;
}
.fa-search{
    content: "\f002";
    position: relative;
    left: -20px;
    color: forestgreen;
}

#searchInput{
    width: 250px;
    border-radius: 5px;
    height: 25px;
    border: solid 1px grey;
    padding: 5px;
}
#content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-left: 45px;
    padding-right: 45px;
}

.restaurant{
    width: 300px;
    height: 300px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

img{
    height: 150px;
    width: 232px;
    border-radius: 50%;
    background: #f6f2ef;
}
.fa-star{
    color: orange;
}

.heart{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.fa-heart{
    color: red;
}