*{
    box-sizing: border-box;
}
body{
    background-image: url(/images/appBackground.jpg);
    background-repeat: repeat;
    background-size: 125%;
}
header{
    text-align: center;
    background: #256541;
    color: white;
    padding: 5px;
    margin-top: -8px;
    margin-bottom: 20px;
    overflow: auto;
}
#logo{
    width: 60px;
    height: 60px;
    float: left;
}
#search{
    padding-left: 45px;
    display: flex;
    flex-wrap: wrap;
          
}

#cuisine{
    border-radius: 5px;
    margin: 10px;
}

#sort{
    border-radius: 5px;
    margin: 10px;
}

#refresh{
    height: 25px;
    top: 5px;
    left: 5px;
    border: none;
    border-radius: 50px;
    margin: 10px;
}
.fa-search{
    content: "\f002";
    position: relative;
    left: -40px;
    color: forestgreen;
    top: 3px;
    margin: 10px;
}

#searchInput{
    width: 250px;
    border-radius: 5px;
    height: 25px;
    border: solid 1px grey;
    padding: 5px;
    margin: 10px;

}
#content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-left: 45px;
    padding-right: 45px;
}

.restaurant{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

img{
    height: 150px;
    width: 232px;
    border-radius: 50%;
    background: #f6f2ef;
}
.fa-star{
    color: orange;
}

.heart{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.fa-heart{
    color: red;
}